<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title> {{club.name}} - Club Detail</title>
</head>
<body>

<nav>
    <a href="/">Players</a> |
    <a href="/clubs">Clubs</a>
</nav>
<hr>

<h1>{{ club.name }}</h1>
<p><strong>Coach:</strong> {{ club.coach_name }}</p>
<p><strong>Stadium:</strong> {{ club.stadium_name }} ({{ club.stadium_seats }} seats)</p>
<p><strong>Domestic League:</strong> {{ club.domestic_competition_id }}</p>
<p><strong>Average Age:</strong> {{ club.average_age }}</p>
<p><strong>Foreigners:</strong> {{ club.foreigners_number }} ({{ club.foreigners_percentage }})</p>


<h2>Players in {{ club.name }}</h2>
<table border="1">
    <thead>
        <tr>
            <th>Player ID</th>
            <th>Full Name</th>
            <th>Position</th>
            <th>Foot</th>
            <th>Height (cm)</th>
            <th>Market Value (€)</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.player_id }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.foot }}</td>
            <td>{{ player.height_in_cm }}</td>
            <td>{{ player.market_value_in_eur }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>