<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Player List</title>
</head>
<body>

<nav>
    <a href="/">Players</a> |
    <a href="/clubs">Clubs</a>
</nav>
<hr>

<h1> Player List </h1>
<table border="1">
    <thead>
        <tr>
            <th>Player ID</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
        <tr>
            <td>{{ player.player_id }}</td>
            <td>{{ player.first_name }}</td>
            <td>{{ player.last_name }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.current_club_name }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.foot }}</td>
            <td>{{ player.height_in_cm }}</td>
            <td>{{ player.market_value_in_eur }}</td>
            <td>{{ player.full_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
